{% extends "Home/header.html" %}

{% block content %}
<h1>About This Site</h1>
<h3>Hey there! Welcome to our site <span class="glyphicon glyphicon-star"></span></h3>
<h4>
<br>
The original concept for a site comparing single board computers (SBC's) was inspired by <a href='http://www.board-db.org'>www.board-db.org</a>, a site that maintains a database of SBC's currently on the market. We wanted to create a simple tool for comparing boards for those searching for the best SBC for a project (or anyone interested in how they measure up!). 
<br><br>
The site was developed using Bootstrap CSS and the Django framework. If you have any questions, comments, or improvement ideas, please contact us on the <a href='\contact\'>Contact Page</a>!</h4>
<br><br><br><br>
{% endblock %}