{% extends "base.html" %}

{% block content %}
<h1>Search SBC Compare</h1>
<h4>Start typing, a list of boards matching what you enter will appear</h4>
<!--<form method="POST" onkeypress="callSubmit()">{% csrf_token %}-->
<form id="search_form" method="POST">{% csrf_token %}
    {{ form_search }}
    <br>
    <button type="submit" class="btn btn-primary btn-lg outline" id="updateResults">Search</button>
</form>

<form id="search_results" method="POST">{% csrf_token %}
    {{ form_results }}
</form>

<form id="selected_boards" method="POST">{% csrf_token %}
    {{ form_selected }}
    <button type="submit" name="add" class="btn btn-primary btn-lg outline">Compare</button>
</form>


<!-- handler for the submission of the search form -->
<script type="text/javascript">

    // Ajax for sending search string to server and receiving updated results list
    $(document).on('submit', '#search_form', function(e){
        //e.preventDefault();
        $.ajax({
            type: 'POST',
            url: 'search_post',
            // data: { search_results: $form.serialize()},
            data: { search_input: $('#search_form').serialize(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(data) {
                //$("#search_form")[0].reset();
                console.log('hello')
                // since find only works on children, make a parent div, then search for 
                // the id of our new data
                var result = $('<div />').append(data).find('#search_results').html()
                $('#search_results').html(result)
            }
        });
        return false
    });

    // Ajax for moving board from search results to compare list
    $(document).on('change', '#search_results', function(e){
        //e.preventDefault();
        $.ajax({
            type: 'POST',
            url: 'add_post',
            data: { added_boards: $('#search_results').serialize(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(data) {
                //$("#search_form")[0].reset();
                console.log('hello')
                // update the search results by removing the added_board from the list
                var result = $('<div />').append(data).find('#search_results').html()
                $('#search_results').html(result)

                // update the selected boards list with the newly selected board
                var result = $('<div />').append(data).find('#selected_boards').html()
                $('#selected_boards').html(result)
            }
        });
        return false
    });
</script>
<!--<script>
    //function callSubmit() {
    //	document.getElementById("updateResults").click()
    //}

    window.onload = function focusInput() {

    	document.getElementById("search_form").focus()
    	moveCaretToEnd(document.getElementById("search_form"))
    	
    }

    function moveCaretToEnd(el) {
        if (typeof el.selectionStart == "number") {
            el.selectionStart = el.selectionEnd = el.value.length;
        } else if (typeof el.createTextRange != "undefined") {
            el.focus();
            var range = el.createTextRange();
            range.collapse(false);
            range.select();
        }
    }
</script>-->
<br>

{% endblock %}
<!--TODO: Create Compare page, link button to Compare page (after input checks for number of selected boards)-->

