{% extends "base.html" %}

{% block content %}
<center>
<div class="row">
    <div class="col-md-12">
        <h1>Search SBC Compare</h1>
        <h4>Search for boards below. Select ones that you would like to compare!</h4>
    </div>
</div>
</center>
<div class="row">
    <div class="col-md-12">
        <form id="search_form" method="POST">{% csrf_token %}
            <!--<div style="float: left; width:600px;">-->
            <div class="row">
                <div class="col-md-11">
                    {{ form_search }}
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary btn-xs outline" id="updateResults"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
            <div class="col-md-11">
                <p>{{ search_count }}</p>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-6" style="text-align: center;">
        <h3>Search Results</h3>
    </div>
    <div class="col-md-6" style="text-align: center;">
        <h3>Selected Boards</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-control" style="height: 200px;">
            <form id="search_results" method="POST">{% csrf_token %}
                {{ form_results }}
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <form id="selected_boards" method="POST">{% csrf_token %}
            {{ form_selected }}
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <span>
            <button type="submit" form="search_results" name="reset" class="btn btn-primary btn-lg outline">Reset</button>
            <button type="submit" form="search_results" name="compare" class="btn btn-primary btn-lg outline">Compare</button>
        </span>
    </div>
</div>
<!-- handler for the submission of the search form -->
<script type="text/javascript">

    // Ajax for sending search string to server and receiving updated results list
    $(document).on('submit', '#search_form', function(e){
        //e.preventDefault();
        $.ajax({
            type: 'POST',
            url: 'search_post',
            // data: { search_results: $form.serialize()},
            data: { search_input: $('#search_form').serialize(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(data) {
                console.log('hello')
                // since find only works on children, make a parent div, then search for 
                // the id of our new data
                var result = $('<div />').append(data).find('#search_results').html()
                $('#search_results').html(result)
            }
        });
        return false
    });

    // Ajax for moving board from search results to compare list
    $(document).on('change', '#search_results', function(e){
        //e.preventDefault();
        $.ajax({
            type: 'POST',
            url: 'add_post',
            data: { added_boards: $('#search_results').serialize(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(data) {
                console.log('hello')
                // update the selected boards list with the newly selected board
                var result = $('<div />').append(data).find('#selected_boards').html()
                $('#selected_boards').html(result)
            }
        });
        return false
    });
</script>
<!--<script>
    //function callSubmit() {
    //	document.getElementById("updateResults").click()
    //}

    window.onload = function focusInput() {

    	document.getElementById("search_form").focus()
    	moveCaretToEnd(document.getElementById("search_form"))
    	
    }

    function moveCaretToEnd(el) {
        if (typeof el.selectionStart == "number") {
            el.selectionStart = el.selectionEnd = el.value.length;
        } else if (typeof el.createTextRange != "undefined") {
            el.focus();
            var range = el.createTextRange();
            range.collapse(false);
            range.select();
        }
    }
</script>-->
<br>

{% endblock %}
<!--TODO: Create Compare page, link button to Compare page (after input checks for number of selected boards)-->

