{% extends "base.html" %}

{% block content %}
<h1>Search SBC Compare</h1>
<h4>Start typing, a list of boards matching what you enter will appear</h4>
<!--<form method="POST" onkeypress="callSubmit()">{% csrf_token %}-->
<form method="POST">{% csrf_token %}
    {{ form_box }}
    {{ form_results }}
    <br>
    <button type="submit" class="btn btn-primary btn-lg outline" id="updateResults">Search</button>
</form>
<script>
function callSubmit() {
	document.getElementById("updateResults").click()
}

window.onload = function focusInput() {

	document.getElementById("searchInput").focus()
	moveCaretToEnd(document.getElementById("searchInput"))
	
}

function moveCaretToEnd(el) {
    if (typeof el.selectionStart == "number") {
        el.selectionStart = el.selectionEnd = el.value.length;
    } else if (typeof el.createTextRange != "undefined") {
        el.focus();
        var range = el.createTextRange();
        range.collapse(false);
        range.select();
    }
}
</script>
<br>
<!--TODO: Create Compare page, link button to Compare page (after input checks for number of selected boards)-->

{% endblock %}
